Repository coinhub-uit/web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coinhub-uit/team-manager, @coinhub-uit/team-devops, @coinhub-uit/team-web

.github/CODEOWNERS:

* @coinhub-uit/team-manager

.github/workflows/ @coinhub-uit/team-devops

eslint.config.mjs @coinhub-uit/team-web
next.config.ts @coinhub-uit/team-web
package.json @coinhub-uit/team-web
postcss.config.mjs @coinhub-uit/team-web
public/ @coinhub-uit/team-web
src/ @coinhub-uit/team-web
tailwind.config.ts @coinhub-uit/team-web
tsconfig.json @coinhub-uit/team-web

package-lock.json
README.md

fix: add keyboard listener for close sidebar feature
  src/app/(dashboard)/layout.tsx
Owners: @coinhub-uit/team-web

fix: use button instead of div in dashboard layout, add aria-lable for toggleThemesButton
  src/app/(dashboard)/layout.tsx
  src/components/ui/dashboardLayout/navbar.tsx
  src/components/ui/themes/toggleThemesButton.tsx
Owners: @coinhub-uit/team-web

fix: use input instead of div in navbar
  src/app/(dashboard)/layout.tsx
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

fix: resolve hydration mismatch in Logo component
  src/components/ui/dashboardLayout/logo.tsx
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

feat: add EditSavingPage
  src/app/(dashboard)/saving-management/edit/[name]/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
Owners: @coinhub-uit/team-web

feat(saving-management): add New button and new saving page
  src/app/(dashboard)/saving-management/new/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
Owners: @coinhub-uit/team-web

feat: done auth
  package-lock.json
  package.json
  src/constants/api-urls.ts
  src/lib/auth/next-auth.ts
  src/middleware.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-web

chore(dev): config vscode setting, add recommended extensions
  .vscode/extensions.json
  .vscode/settings.json
Owners: @coinhub-uit/team-manager

chore(.vscode): cleanup recommended extensions, add editorconfig
  .vscode/extensions.json
Owners: @coinhub-uit/team-manager

chore(husky): install deps every time checkout
  .husky/post-checkout
Owners: @coinhub-uit/team-manager

fix: auth, test get user
  justfile
  package.json
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/layout.tsx
  src/constants/api-urls.ts
  src/contexts/sessionProvider.tsx
  src/lib/auth/next-auth.ts
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/useSwrWithJwt.tsx
  src/types/env.d.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

fix(useFetch): handle if session isn't available before fetch
  .env.example
  src/lib/hooks/useFetch.tsx
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

chore(dev): config vscode setting, add recommended extensions
  .vscode/extensions.json
  .vscode/settings.json
Owners: @coinhub-uit/team-manager

feat: done auth
  package-lock.json
  package.json
  src/constants/api-urls.ts
  src/lib/auth/next-auth.ts
  src/middleware.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-web

fix: auth, test get user
  justfile
  package.json
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/layout.tsx
  src/constants/api-urls.ts
  src/contexts/sessionProvider.tsx
  src/lib/auth/next-auth.ts
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/useSwrWithJwt.tsx
  src/types/env.d.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

chore(husky): install deps every time checkout
  .husky/post-checkout
Owners: @coinhub-uit/team-manager

chore(.vscode): cleanup recommended extensions, add editorconfig
  .vscode/extensions.json
Owners: @coinhub-uit/team-manager

fix(useFetch): handle if session isn't available before fetch
  .env.example
  src/lib/hooks/useFetch.tsx
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat: redesign Saving management
  src/app/(dashboard)/saving-management/edit/[name]/page.tsx
  src/app/(dashboard)/saving-management/new/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/constants/savings.ts
Owners: @coinhub-uit/team-web

feat: increase authjs session as api server does
  src/lib/auth/next-auth.ts
Owners: @coinhub-uit/team-web

ci(code-check): add type check
  .github/workflows/code-check.yml
Owners: @coinhub-uit/team-devops

chore: suspend the warning
  src/app/(dashboard)/layout.tsx
  src/app/page.tsx
Owners: @coinhub-uit/team-web

chore(api): add edge runtime
  src/app/api/auth/[...nextauth]/route.ts
Owners: @coinhub-uit/team-web

chore(cf): add wrangler config
  .gitignore
  package.json
  wrangler.toml
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

chore: add nvmrc for cloudflare
  .nvmrc
Owners: @coinhub-uit/team-manager

chore(wrangler): add populate env flag
  wrangler.toml
Owners: @coinhub-uit/team-manager

chore: throw error if api server url in env not found
  package.json
  src/constants/api-urls.ts
Owners: @coinhub-uit/team-web

chore: add kv binding for cloudflare
  package-lock.json
  package.json
  src/constants/api-urls.ts
  src/types/env.d.ts
  tsconfig.json
  wrangler.toml
Owners: @coinhub-uit/team-web, @coinhub-uit/team-manager

Revert "chore: add kv binding for cloudflare"
  package-lock.json
  package.json
  src/constants/api-urls.ts
  src/types/env.d.ts
  tsconfig.json
  wrangler.toml
Owners: @coinhub-uit/team-web, @coinhub-uit/team-manager

chore(gitattributes): add lockfile to be generated
  .gitattributes
Owners: @coinhub-uit/team-manager

feat(homepage): add stats components
  src/app/(dashboard)/home/page.tsx
Owners: @coinhub-uit/team-web

feat: add EditSavingPage
  src/app/(dashboard)/saving-management/edit/[name]/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
Owners: @coinhub-uit/team-web

feat(saving-management): add New button and new saving page
  src/app/(dashboard)/saving-management/new/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
Owners: @coinhub-uit/team-web

feat: redesign Saving management
  src/app/(dashboard)/saving-management/edit/[name]/page.tsx
  src/app/(dashboard)/saving-management/new/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/constants/savings.ts
Owners: @coinhub-uit/team-web

fix: change useFetch to support generic type feat(saving): add get plans API
  src/app/(dashboard)/saving-management/page.tsx
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/usePlans.ts
  src/types/plans.d.ts
Owners: @coinhub-uit/team-web

feat: use Redux to store plan and pass plan from saving page to edit page
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/constants/interestMap.ts
  src/constants/savings.ts
  src/lib/features/saving/savingSlice.ts
  src/lib/hooks/usePlans.ts
  src/lib/store.ts
  src/types/plans.d.ts
Owners: @coinhub-uit/team-web

feat(saving-management): add Update API
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/lib/hooks/usePlans.ts
Owners: @coinhub-uit/team-web

Feat/saving management (#13)
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/constants/interestMap.ts
  src/constants/savings.ts
  src/lib/features/saving/savingSlice.ts
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/usePlans.ts
  src/lib/store.ts
  src/types/plans.d.ts
Owners: @coinhub-uit/team-web

feat(user): add get profiles API and UI
  package-lock.json
  public/images/avatar.jpg
  src/app/(dashboard)/users/page.tsx
  src/components/ui/user/user-card.tsx
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/useUser.ts
  src/types/user.d.ts
Owners: @coinhub-uit/team-web

fix: change from img to Image in user card
  next.config.ts
  src/components/ui/user/user-card.tsx
Owners: @coinhub-uit/team-web
