Repository coinhub-uit/web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coinhub-uit/team-manager, @coinhub-uit/team-devops, @coinhub-uit/team-web

feat(user): add chosing filter for user fetching
  src/app/(dashboard)/users/page.tsx
Owners: @coinhub-uit/team-web

feat(user): add UserDetailPage
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/user-card.tsx
  src/lib/hooks/useUser.ts
  src/types/user.d.ts
Owners: @coinhub-uit/team-web

feat(user): add fetch ticket for UserDetailPage
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/ticket-card.tsx
  src/lib/hooks/useUser.ts
  src/types/ticket.d.ts
Owners: @coinhub-uit/team-web

feat(user): add fetch sources of user
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/source-card.tsx
  src/lib/hooks/useUser.ts
  src/types/source.d.ts
Owners: @coinhub-uit/team-web

feat(user): add delete function for User detail page
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/users/[id]/page.tsx
  src/lib/hooks/useUser.ts
Owners: @coinhub-uit/team-web

Feat/user (#14)
  next.config.ts
  package-lock.json
  public/images/avatar.jpg
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/users/[id]/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/components/ui/user/source-card.tsx
  src/components/ui/user/ticket-card.tsx
  src/components/ui/user/user-card.tsx
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/useUser.ts
  src/types/source.d.ts
  src/types/ticket.d.ts
  src/types/user.d.ts
Owners: @coinhub-uit/team-web

fix: change to ?? for a safer operator
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
Owners: @coinhub-uit/team-web

refactor: efactor sers page to not nest functions more than 4 levels deep
  src/app/(dashboard)/users/page.tsx
Owners: @coinhub-uit/team-web

feat(report): add chart and report activity API
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/(dashboard)/analytics-reports/page.tsx
  src/lib/hooks/useReport.ts
  src/types/activity.d.ts
  tsconfig.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat(report): add tab for analytics and report page
  src/app/(dashboard)/analytics-reports/page.tsx
Owners: @coinhub-uit/team-web

feat(report): add activity report and export xlsx function
  package-lock.json
  package.json
  src/app/(dashboard)/analytics-reports/page.tsx
Owners: @coinhub-uit/team-web

feat(report): add ticket report
  src/app/(dashboard)/analytics-reports/page.tsx
  src/lib/hooks/useReport.ts
  src/types/ticketReport.d.ts
Owners: @coinhub-uit/team-web

feat(report): add revenue report
  src/app/(dashboard)/analytics-reports/page.tsx
  src/lib/hooks/useReport.ts
  src/types/revenue.d.ts
Owners: @coinhub-uit/team-web

Feat/report (#15)
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/(dashboard)/analytics-reports/page.tsx
  src/lib/hooks/useReport.ts
  src/types/activity.d.ts
  src/types/revenue.d.ts
  src/types/ticketReport.d.ts
  tsconfig.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat(homepage): add stats components
  src/app/(dashboard)/home/page.tsx
Owners: @coinhub-uit/team-web

feat(homepage): add revenue chart and pie chart for term of ticke
  package-lock.json
  src/app/(dashboard)/home/page.tsx
Owners: @coinhub-uit/team-web

chore: redirect / to /home
  src/app/(dashboard)/users/page.tsx
  src/app/page.tsx
Owners: @coinhub-uit/team-web

Feat/home page (#16)
  package-lock.json
  src/app/(dashboard)/home/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/page.tsx
Owners: @coinhub-uit/team-web

fix(report): add keyboard listener for tab in report
  src/app/(dashboard)/analytics-reports/page.tsx
Owners: @coinhub-uit/team-web

refactor: change || to ?? for safer operator using
  src/app/(dashboard)/home/page.tsx
  src/app/(dashboard)/users/[id]/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/lib/hooks/useFetch.tsx
  src/lib/hooks/useReport.ts
  src/lib/hooks/useUser.ts
Owners: @coinhub-uit/team-web

fix: make use useUsers API have https
  src/lib/hooks/useUser.ts
Owners: @coinhub-uit/team-web

fix: image file name mistype
  src/components/ui/dashboardLayout/logo.tsx
Owners: @coinhub-uit/team-web

fix(homepage): separate useEffect to handle data flows
  src/app/(dashboard)/home/page.tsx
Owners: @coinhub-uit/team-web

chore: change UI to adapt update getUsers API
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/user-card.tsx
Owners: @coinhub-uit/team-web

feat(users): add selector for active and deleted user
  src/app/(dashboard)/users/page.tsx
Owners: @coinhub-uit/team-web

feat(saving-management): add change min amount ticket
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/lib/hooks/useSetting.tsx
  src/types/setting.d.ts
Owners: @coinhub-uit/team-web

refactor(saving-management): change EditSavingPage to use getPlan API
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/lib/hooks/usePlans.ts
  src/types/plans.d.ts
Owners: @coinhub-uit/team-web

feat(saving-management): using planHistory in rate chart
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
Owners: @coinhub-uit/team-web

fix: import Filler for chart
  src/app/(dashboard)/analytics-reports/page.tsx
  src/app/(dashboard)/home/page.tsx
  src/app/(dashboard)/saving-management/edit/[id]/page.tsx
Owners: @coinhub-uit/team-web

fix: adding status param for useUser to refetch when change type of user
  src/app/(dashboard)/users/page.tsx
  src/lib/hooks/useUser.ts
Owners: @coinhub-uit/team-web

fix(users): handle image fetching fail
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/user-card.tsx
Owners: @coinhub-uit/team-web

fix(user): change filter condition for closed
  src/app/(dashboard)/users/[id]/page.tsx
  src/components/ui/user/ticket-card.tsx
  src/lib/hooks/useUser.ts
Owners: @coinhub-uit/team-web

refactor(user): change closed ticket to withdrawn ticket
  src/app/(dashboard)/users/[id]/page.tsx
Owners: @coinhub-uit/team-web

refactor(home): delete increased user in total users
  src/app/(dashboard)/home/page.tsx
Owners: @coinhub-uit/team-web

fix: yia yia in build time
  Dockerfile
  src/constants/api-urls.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

fix: copy many files
  Dockerfile
Owners: @coinhub-uit/team-manager

feat: ye ye
  .github/workflows/docker.yml
Owners: @coinhub-uit/team-devops

fix: install dev deps
  Dockerfile
Owners: @coinhub-uit/team-manager

fix: hope it will work
  Dockerfile
  package.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

fix: it run but fix later
  Dockerfile
Owners: @coinhub-uit/team-manager

.github/CODEOWNERS:

* @coinhub-uit/team-manager

.github/workflows/ @coinhub-uit/team-devops

eslint.config.mjs @coinhub-uit/team-web
next.config.ts @coinhub-uit/team-web
package.json @coinhub-uit/team-web
postcss.config.mjs @coinhub-uit/team-web
public/ @coinhub-uit/team-web
src/ @coinhub-uit/team-web
tailwind.config.ts @coinhub-uit/team-web
tsconfig.json @coinhub-uit/team-web

package-lock.json
README.md
