Repository coinhub-uit/web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coinhub-uit/team-manager, @coinhub-uit/team-devops, @coinhub-uit/team-web

feat(dev): add husky and commitlint for commit message validation
  .husky/commit-msg
  commitlint.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat(dev): set up lint-staged for pre-commit linting
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

docs(README): add docs
  README.md
Owners: none

chore(dev): setup dev
  .github/workflows/code-check.yml
  .github/workflows/commit-lint.yml
  .husky/commit-msg
  .lintstagedrc.json
Owners: @coinhub-uit/team-devops, @coinhub-uit/team-manager

feat: wip
  package-lock.json
  package.json
  public/coinhub.svg
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/storeProvider.tsx
  src/lib/features/admin/adminSlice.ts
  src/lib/hooks/redux.ts
  src/lib/store.ts
  tailwind.config.ts
Owners: @coinhub-uit/team-web

chore: wip
  .prettierrc
  package-lock.json
  package.json
  postcss.config.mjs
  public/coinhub.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/storeProvider.tsx
  src/app/swrConfig.tsx
  src/lib/features/admin/adminSlice.ts
  src/lib/hooks/useSwrWithJwt.tsx
  src/lib/store.ts
  tailwind.config.ts
  tsconfig.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat: structure the proj
  .github/workflows/code-check.yml
  package.json
  src/app/(admin)/layout.tsx
  src/app/(admin)/methods/page.tsx
  src/app/(admin)/page.tsx
  src/app/(admin)/users/page.tsx
  src/app/(auth)/auth/page.tsx
  src/app/(auth)/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/components/.keep
  src/lib/hooks/useSwrWithJwt.tsx
  src/types/.keep
  src/utils/.keep
Owners: @coinhub-uit/team-devops, @coinhub-uit/team-web

chore: not-found page, update daisyui
  package-lock.json
  package.json
  src/app/(admin)/layout.tsx
  src/app/(admin)/page.tsx
  src/app/(auth)/auth/page.tsx
  src/app/(auth)/layout.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
Owners: @coinhub-uit/team-web

feat: add authjs, but still cannot protect routes
  .env.example
  next.config.ts
  package-lock.json
  package.json
  src/app/(admin)/layout.tsx
  src/app/(admin)/methods/page.tsx
  src/app/(admin)/users/page.tsx
  src/app/(auth)/layout.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/methods/page.tsx
  src/app/middleware.ts
  src/app/page.tsx
  src/app/users/page.tsx
  src/auth/next-auth.ts
  src/types/env.d.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

chore(refactor): reorganize folder structure
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/sign-in/page.tsx
Owners: @coinhub-uit/team-web

chore: wip
  next.config.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/layout.tsx
  src/app/middleware.ts
  src/app/page.tsx
  src/lib/auth/next-auth.ts
  src/middleware.ts
  src/types/next-auth.d.ts
  tsconfig.json
Owners: @coinhub-uit/team-web

chore: move stuff
  src/app/layout.tsx
  src/components/.keep
  src/components/storeProvider.tsx
  src/components/swrConfig.tsx
  src/lib/auth/next-auth.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-web

feat: add next-themes
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/storeConfig.tsx
  src/components/swrConfig.tsx
  src/components/themeConfig.tsx
  src/components/ui/.keep
Owners: @coinhub-uit/team-web

chore(refactor): reorganize folder structure
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/saving-management/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/sign-in/page.tsx
Owners: @coinhub-uit/team-web

chore(app): delete redundant folder
  src/app/methods/page.tsx
  src/app/users/page.tsx
Owners: @coinhub-uit/team-web

chore: add theme switcher button
  src/app/(dashboard)/layout.tsx
  src/app/sign-in/page.tsx
  src/components/themeConfig.tsx
  src/components/ui/.keep
  src/components/ui/navbar.tsx
  src/components/ui/themes/themeSwitcherButton.tsx
  src/lib/auth/next-auth.ts
  src/types/next-auth.d.ts
Owners: @coinhub-uit/team-web

feat: configure DaisyUI themes and next theme
  src/app/globals.css
  src/app/layout.tsx
  src/components/ui/themes/themeSwitcherButton.tsx
  tailwind.config.ts
Owners: @coinhub-uit/team-web

refactor: moving provider, config to contexts
  src/app/layout.tsx
  src/constants/api-urls.ts
  src/contexts/storeProvider.tsx
  src/contexts/swrConfig.tsx
  src/contexts/themeProvider.tsx
  src/lib/auth/next-auth.ts
  src/lib/hooks/useSwrWithJwt.tsx
Owners: @coinhub-uit/team-web

fix: add lack dependency
  .vscode/settings.json
  components.json
  package-lock.json
  package.json
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

feat: add menu component with theme support
  public/images/CoinHub-Wordmark.png
  public/images/coinhub-wordmark-white.png
  src/app/(dashboard)/analytics-reports/page.tsx
  src/app/(dashboard)/home/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/layout.tsx
  src/components/ui/icons/chart.tsx
  src/components/ui/icons/home.tsx
  src/components/ui/icons/money.tsx
  src/components/ui/icons/users.tsx
  src/components/ui/logo.tsx
  src/components/ui/menu.tsx
  src/components/ui/navbar.tsx
  src/contexts/themeProvider.tsx
  src/lib/utils.ts
  tailwind.config.ts
Owners: @coinhub-uit/team-web

fix(styles): resolve PostCSS errors and clean up global styles
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/globals.css
  tailwind.config.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

fix(styles): resolve PostCSS errors and clean up global styles
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/globals.css
  tailwind.config.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

fix(styles): clean up global styles
  src/app/globals.css
Owners: @coinhub-uit/team-web

chore(revert): 04f51188
  .vscode/settings.json
  components.json
  package-lock.json
  package.json
  src/app/globals.css
  tailwind.config.ts
Owners: @coinhub-uit/team-manager, @coinhub-uit/team-web

chore(dev): config cspell
  .vscode/settings.json
Owners: @coinhub-uit/team-manager

chore: need copying ...
  package-lock.json
  package.json
  src/app/(dashboard)/layout.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/ui/logo.tsx
  src/components/ui/menu.tsx
  src/components/ui/themes/themeSwitcherButton.tsx
  src/contexts/themeProvider.tsx
  src/lib/hooks/toggleThemes.tsx
  src/middleware.ts
  src/types/theme.ts
  tailwind.config.ts
Owners: @coinhub-uit/team-web

feat: done toggle themes
  src/app/(dashboard)/layout.tsx
  src/components/ui/logo.tsx
  src/components/ui/themes/themeSwitcherButton.tsx
  src/components/ui/themes/toggleThemesButton.tsx
  src/contexts/themeProvider.tsx
  src/lib/hooks/toggleThemes.tsx
  src/lib/hooks/useToggleThemes.tsx
Owners: @coinhub-uit/team-web

feat: change toggle theme to sun and moonn
  src/app/(dashboard)/analytics-reports/page.tsx
  src/app/(dashboard)/home/page.tsx
  src/components/ui/themes/toggleThemesButton.tsx
Owners: @coinhub-uit/team-web

feat: add navbar and collapse sidebar feature
  src/app/(dashboard)/layout.tsx
  src/components/ui/dashboardLayout/logo.tsx
  src/components/ui/dashboardLayout/menu.tsx
  src/components/ui/dashboardLayout/navbar.tsx
  src/components/ui/dashboardLayout/sidebar.tsx
  src/components/ui/navbar.tsx
  src/components/ui/themes/toggleThemesButton.tsx
Owners: @coinhub-uit/team-web

feat: close sidebar when click outside
  src/app/(dashboard)/layout.tsx
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

feat: add page label on navbar change with page path
  src/app/(dashboard)/saving-management/page.tsx
  src/components/ui/dashboardLayout/menu.tsx
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

feat: add backgound for active page on menu
  src/components/ui/dashboardLayout/menu.tsx
Owners: @coinhub-uit/team-web

chore(ui): adjust transition duration for sidebar
  src/app/(dashboard)/layout.tsx
Owners: @coinhub-uit/team-web

fix: close Sidebar on Escape key down
  src/app/(dashboard)/layout.tsx
Owners: @coinhub-uit/team-web

fix: change the avatar in navbar into Image tag and change avatar drop down
  public/images/CoinHub-Wordmark.png
  public/images/avatar.jpg
  public/images/coinhub-wordmark-white.png
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

chore: clean menu import to avoid code duplicaiton
  src/components/ui/dashboardLayout/menu.tsx
Owners: @coinhub-uit/team-web

fix: change avater from image to icon, delete avatar.jpg
  public/images/avatar.jpg
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

fix(layout): change children background and add navbar bottom border
  src/app/(dashboard)/layout.tsx
  src/components/ui/dashboardLayout/navbar.tsx
Owners: @coinhub-uit/team-web

chore: update Nextjs and dependencies
  package-lock.json
Owners: none

feat: add Saving type list for Saving management screen
  src/app/(dashboard)/saving-management/page.tsx
  src/app/(dashboard)/users/page.tsx
  src/app/layout.tsx
  src/components/ui/dashboardLayout/menu.tsx
  src/components/ui/saving-management/saving-type-card.tsx
  src/constants/savings.ts
Owners: @coinhub-uit/team-web

.github/CODEOWNERS:

* @coinhub-uit/team-manager

.github/workflows/ @coinhub-uit/team-devops

eslint.config.mjs @coinhub-uit/team-web
next.config.ts @coinhub-uit/team-web
package.json @coinhub-uit/team-web
postcss.config.mjs @coinhub-uit/team-web
public/ @coinhub-uit/team-web
src/ @coinhub-uit/team-web
tailwind.config.ts @coinhub-uit/team-web
tsconfig.json @coinhub-uit/team-web

package-lock.json
README.md
